%h1 Blockchain#index
%p Find me in app/views/blockchain/index.html.haml

%h2 info dsadsadas

- if !current_user.wallet
	= form_for(:wallet, url: claim_code_path, html: { method: :post }) do |f|
		= f.text_field :code
		= f.submit "Claim"
- else
	= render 'wallets/form', locals: {wallet: @wallet}

