=provide(:title, I18n.t('home.title'))
.container.mt-80
  .row
    .col-sm-12
      .heading-block
        %h2.heading
          Nasza
          %span.color1 Oferta
        %p.sub-heading Obsługa wsparcia inwestycyjnego i zarządzania przedsięwzięciem gospodarczym w zakresie:
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading Importu Surowca
          %span Importu surowca na rynek UE dla wytwórców substancji czynnej
        .offer-body
          %p Behind the word mountains, far from the countries Vokalia and Consonantia.
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading substancja czynna
          %span import, wytwarzanie oraz dystrybucja
        .offer-body
          %p 
            [zakłady z infrastrukturą dla przetwórstwa, pakowania, kontroli jakości, standaryzacji i dokumentacji produkcyjnej]
            [zakłady z infrastrukturą magazynową i logistyczną niezbędną dla obsługi importu surowca oraz dystrybucji produktów]
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading działalność badawczo – rozwojowa 
          %span produktów i procesów
        .offer-body
          %p [zakłady badawcze oparte o infrastrukturę laboratoryjną i IT, prowadzące dedykowane badania w/w  produktów i procesów w celu wprowadzenia ich na rynek wytwórców i na rynek apteczny]
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading IT
          %span dedykowane rozwiązania 
        .offer-body
          %p [infrastruktura IT oraz usługi wsparcia zarządzania procesami produkcji, dystrybucji i sprzedaży, obsługa informacyjna kadry zarządzającej]
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading wytwarzania preparatów 
          %span dopuszczonych do obrotu aptecznego
        .offer-body
          %p 
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading wprowadzania produktów 
          %span do obrotu na rynek UE
        .offer-body
          %p 












