=provide(:title, I18n.t('home.title'))
.container.mt-80
  .row
    .col-sm-12
      .heading-block
        %h2.heading
          =I18n.t('home.our')
          %span.color1=I18n.t('home.offer')
        %p.sub-heading=I18n.t('home.sub_head1')
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading=I18n.t('home.import.h1')
          %span=I18n.t('home.import.sub_head2') 
        .offer-body
          %p=I18n.t('home.import.body')
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading=I18n.t('home.active_substance.h1') 
          %span=I18n.t('home.active_substance.sub_head3') 
        .offer-body
          %p 
            =I18n.t('home.active_substance.body')
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading=I18n.t('home.r&d.h1')
          %span=I18n.t('home.r&d.sub_head4')
        .offer-body
          %p=I18n.t('home.r&d.body') 
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading=I18n.t('home.it.h1')
          %span=I18n.t('home.it.sub_head5')
        .offer-body
          %p=I18n.t('home.it.body')
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading=I18n.t('home.production.h1')  
          %span=I18n.t('home.production.sub_head6') 
        .offer-body
          %p 
            =I18n.t('home.production.body')
            =link_to I18n.t('header.contact'), controller: "static_pages_controller", action: "contact"
    .col-sm-4
      .offer-box
        .offer-header
          %h4.heading=I18n.t('home.placing_on_market.h1') 
          %span=I18n.t('home.placing_on_market.sub_head7') 
        .offer-body
          %p 
  #back
    %i.fa.fa-angle-up











