=provide(:title, I18n.t('hub.title'))
.container.mt-80
  .row
    .col-sm-12
      .heading-block
        %h2.heading
          Czym
          %span.color1 Się
          Zajmujemy
        %p.sub-heading CannaHub sp. z o.o. jest Hub’em - platformą gospodarczą, stworzoną do realizacji projektów obejmujących:
    .col-sm-4
      .feature-box.right
        %span.count 1
        .text
          %h4.heading Obsługa Prawna
          %p A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
      .feature-box.right
        %span.count 2
        .text
          %h4.heading Handel
          %p Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
    .col-sm-4
      .feature-box.right
        %span.count 3
        .text
          %h4.heading Wymiana Wiedzy
          %p A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
      .feature-box.right
        %span.count 4
        .text
          %h4.heading Badania
          %p Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
    .col-sm-4.mt-20
      =image_tag("photo-1.png", alt: "", class: "img-responsive")

    %h1=I18n.t('hub.mission')
    %p Spółka została powołana w celu zapewnienia dostępności „leków” opartych o konopie indyjskie w aptekach co umożliwili im faktyczne korzystanie z leczenia.
  .row
    %h1=I18n.t('hub.vision')
    %p Udział w międzynarodowego rynku handlu konopiami. Bycie wiodącym podmiotem na rynku europejskim.
