.container
  .row
    .col-sm-12
      %ul.partners
        %li
          =link_to image_tag("logotypes/grl-logo.png", alt: "Grass Roots Lobbing Sp. z o.o."), "http://www.grassrootslobbing.pl", target: "_blank"
        %li
          =link_to image_tag("logo.png", alt: "logo"), {action: 'home', controller: 'static_pages_controller'}
        %li
          =link_to image_tag("logotypes/ch-logo.png", alt: "Cannabis House Sp. z o.o."), "http://www.cannabishouse.com.pl", target: "_blank"
        %li
          =link_to image_tag("logotypes/thc-logo.png", alt: "TRADE HEMP CENTER Sp. z o.o."), "http://www.tradehempcenter.pl", target: "_blank"
        %li
          =link_to image_tag("logotypes/bioinfo-logo.png", alt: "BIOINFOBANK"), "https://www.bioinfo.pl", target: "_blank"          
        %li
          =link_to image_tag("logotypes/chs-logo.png", alt: "Stowarzyszenie Cannabis House"), "https://www.cannabishouse.eu", target: "_blank"
        %li
          =link_to image_tag("logotypes/isc-logo.png", alt: "Index Scientia Cannabis"), "http://www.indexscientiacannabis.pl", target: "_blank"
        %li
          =link_to image_tag("logotypes/thclinic-logo.png", alt: "Fundacja The Hemp Clinic"), "http://www.thehempclinic.pl", target: "_blank"
        %li
          =link_to image_tag("logotypes/wk-logo.png", alt: "Stowarzyszenie Wolne Konopie"), "http://www.wolnekonopie.org", target: "_blank"
        %li
          =link_to image_tag("logotypes/apIII-logo.png", alt: ":::apIIInstytut:::"), "http://www.grassrootslobbing.pl", target: "_blank"