.container.partner-content
    .row   
        %h2.partners-title
            Nasi patrnerzy
        %div.slider-partners
            %div.background-carousel
                %div.inner-carousel
                    =link_to image_tag("logotypes/grl-logo.png",width: '250px', class: "images", alt: "Grass Roots Lobbing Sp. z o.o."), "http://www.grassrootslobbing.pl", target: "_blank"
            %div.background-carousel    
                %div.inner-carousel
                    =link_to image_tag("logotypes/ch-logo.png",width: '250px', class: "images",alt: "Cannabis House Sp. z o.o."), "http://www.cannabishouse.com.pl", target: "_blank"
            %div.background-carousel 
                %div.inner-carousel 
                    =link_to image_tag("logotypes/thc-logo.png",width: '250px', class: "images",alt: "TRADE HEMP CENTER Sp. z o.o."), "http://www.tradehempcenter.pl", target: "_blank"
            %div.background-carousel
                %div.inner-carousel
                    =link_to image_tag("logotypes/chs-logo.png",width: '250px', class: "images", alt: "Stowarzyszenie Cannabis House"), "https://www.cannabishouse.eu", target: "_blank"    
            %div.background-carousel
                %div.inner-carousel
                    =link_to image_tag("logotypes/glm-logo.png",width: '250px', class: "images", alt: "Green line media"), "https://www.greenlinemedia.eu", target: "_blank"
               