.container.mt-80
  .row
    .col-sm-12
      .heading-aj
        %h2.heading
          Jesteśmy otwarci na współpracę
        %p.sub-heading Zapraszamy międzynarodowych partnerów do współpracy w zakresie rozwoju, dostaw produktów, protokołu badawczo - naukowego i technologii
   