
%section.mb-4.container
  / Section heading
  %h2.h1-responsive.font-weight-bold.text-center.my-4 Contact us
  / Section description
  %p.text-center.w-responsive.mx-auto.mb-5
    Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
    a matter of hours to help you.
  .row
    / Grid column
    .col-md-9.mb-md-0.mb-5
      %form#contact-form{:action => "mail.php", :method => "POST", :name => "contact-form"}
        / Grid row
        .row
          / Grid column
          .col-md-6
            .md-form.mb-0
              %input#name.form-control{:name => "name", :type => "text"}/
              %label{:for => "name"} Your name
          / Grid column
          / Grid column
          .col-md-6
            .md-form.mb-0
              %input#email.form-control{:name => "email", :type => "text"}/
              %label{:for => "email"} Your email
          / Grid column
        / Grid row
        / Grid row
        .row
          .col-md-12
            .md-form.mb-0
              %input#subject.form-control{:name => "subject", :type => "text"}/
              %label{:for => "subject"} Subject
        / Grid row
        / Grid row
        .row
          / Grid column
          .col-md-12
            .md-form
              %textarea#message.form-control.md-textarea{:name => "message", :rows => "2", :type => "text"}
              %label{:for => "message"} Your message
        / Grid row
      .text-center.text-md-left
        %a.btn.btn-primary{:onclick => "document.getElementById('contact-form').submit();"} Send
      .status
    / Grid column
    / Grid column
    .col-md-3.text-center
      %ul.list-unstyled.mb-0
        %li
          %i.fa.fa-map-marker.fa-2x
          %p San Francisco, CA 94126, USA
        %li
          %i.fa.fa-phone.mt-4.fa-2x
          %p + 01 234 567 89
        %li
          %i.fa.fa-envelope.mt-4.fa-2x
          %p contact@mdbootstrap.com
    / Grid column
/ Section: Contact v.2
