%footer.footer-3
  / Footer Style 3
  .footer-pri.pt-20.pb-20
    / Primary Footer
    .container
      .row
        .col-md-12.text-center
          .widget.widget-about
            .col-md-4
              %h5.footer-title{style: "text-transform: none;"}
                =I18n.t('footer.service_pl')
              %ul.contact
                %li
                  %i.fa.fa-phone
                  =I18n.t('office_nr_pl')
                  %br
                  %i.fa.fa-envelope
                  =I18n.t('mail_pl')
            .col-md-4
              %h5.footer-title{style: "text-transform: none;"}
                =I18n.t('footer.service_en')
              %ul.contact
                %li
                  %i.fa.fa-phone
                  =I18n.t('office_nr_en')
                  %br
                  %i.fa.fa-envelope
                  =I18n.t('mail_en')   
            .col-md-4         
              %h5.footer-title{style: "text-transform: none;"}
                Canna Hub Sp. Z o.o. 
              %ul.contact
                %li
                  %i.fa.fa-map-marker
                  Aleja Solidarności 68/121
                  %br
                  %i.fa
                  00-240 Warszawa, Polska
  .footer-sec
    .container
      .row
        .col-sm-12
          %span.text-comapny 
            =I18n.t('footer.copywright')
            =link_to "Canna Hub Sp. z o.o. ", controller: "static_pages_controller", action: "home"
            =I18n.t('footer.reserved')
 