%footer.footer-3
  / Footer Style 3
  .footer-pri.pt-20.pb-20
    / Primary Footer
    .container
      .row
        .col-md-12.text-center
          .widget.widget-about
            .col-md-4
              %h5.footer-title
                Obsługa w języku polskim
              %ul.contact
                %li
                  %i.fa.fa-phone
                  =I18n.t('office_nr_pl')
                  %br
                  %i.fa.fa-envelope
                  =I18n.t('mail_pl')
            .col-md-4
              %h5.footer-title
                Obsługa w języku angielskim
              %ul.contact
                %li
                  %i.fa.fa-phone
                  =I18n.t('office_nr_en')
                  %br
                  %i.fa.fa-envelope
                  =I18n.t('mail_en')   
            .col-md-4         
              %h5.footer-title
                Canna Hub Sp. z o.o. 
              %ul.contact
                %li
                  %i.fa.fa-map-marker
                  Aleja Solidarności 68/121
                  %br
                  %i.fa
                  00-240 Warszawa, Polska
 