%header.header-3
  / Header Style 3
  .topbar
    / Topbar
    .container
      .row
        .col-sm-6
          %ul.social
            %li
              %a{:href => ""}
                %i.fa.fa-facebook
            %li
              %a{:href => ""}
                %i.fa.fa-twitter
            %li
              %a{:href => ""}
                %i.fa.fa-linkedin
            %li
              %a{:href => ""}
                %i.fa.fa-vimeo
        .col-md-6
          %ul.contact
            %li
              %span=I18n.t('header.email_us')
              =I18n.t('header.e-mail')
  %nav.navbar.navbar-default
    / Navigation Bar
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#main-navigation", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only=I18n.t('header.menu')
          %i.fa.fa-bars
        =link_to image_tag("logo.png", alt: "logo"), {action: 'home', controller: 'static_pages_controller'}, class: 'navbar-brand'
        / Replace with your Logo
      #main-navigation.collapse.navbar-collapse
        / Main Menu
        %ul.nav.navbar-nav.navbar-right
          %li
            =link_to I18n.t('header.home'), controller: "static_pages_controller", action: "home"
          %li
            =link_to I18n.t('header.dispensary.dispensaries'), root_path
            %ul.sub-menu
              / Sub Menu
              %li
                =link_to root_path do
                  = I18n.t('header.dispensary.ldz')
                  =content_tag :span, I18n.t('header.dispensary.dispensary'), :class => "badge"
              %li
                =link_to root_path do
                  = I18n.t('header.dispensary.wwa')
                  =content_tag :span, I18n.t('header.dispensary.dispensary'), :class => "badge"
          %li
            =link_to I18n.t('header.license'), root_path
            %ul.sub-menu
              %li.heading=I18n.t('header.dispensary.dispensary')
              %li
                =link_to I18n.t('header.dispensary.mission'), controller: "static_pages_controller", action: "dispensary"
              %li
                =link_to I18n.t('header.dispensary.how-to-open'), controller: "static_pages_controller", action: "dispensary"
              %li
                =link_to I18n.t('header.dispensary.license'), controller: "static_pages_controller", action: "dispensary"
              %li.hr
              %li.heading=I18n.t('header.growing.indoor')
              %li
                =link_to I18n.t('header.growing.mission'), root_path
              %li
                =link_to I18n.t('header.growing.how-to-open'), root_path
              %li
                =link_to I18n.t('header.growing.license'), root_path
          %li
            =link_to I18n.t('header.partners'), root_path
            %ul.sub-menu
              / Sub Menu
              %li
                =link_to I18n.t('header.ch_stow'), "https://www.cannabishouse.eu", target: "_blank"
              %li
                =link_to I18n.t('header.thc'), "https://www.tradehempcenter.pl", target: "_blank"
              %li
                =link_to I18n.t('header.grl'), "https://www.grassrootslobbing.pl", target: "_blank"
          %li
            = link_to I18n.t('header.contact'), root_path
            %ul.sub-menu
              / / Sub Menu
              / %li
              /   %a{:href => "contact-1.html"} Contact Version 1
              / %li
              /   %a{:href => "contact-2.html"} Contact Version 2
              / %li
              /   %a{:href => "contact-3.html"} Contact Version 3
          %li
            %span.emergency
              / Emergency Number
              %i.fa.fa-mobile
              %span.number=I18n.t('header.phone_nr')
              %br/
              %span.sub-text=I18n.t('header.office')
