.container{style: "margin-top: 60px;"}
  .row
    .col-sm-12
      .heading-block
        %h2.heading
          =I18n.t('model.title')
    .row.margin-model-component
      .col-sm-4
        .feature-box.left
          %span.count 1
          .text
            %h4.heading 
              =I18n.t('model.content1')
        .feature-box.left
          %span.count 2
          .text
            %h4.heading 
              =I18n.t('model.content2')
        .feature-box.left
          %span.count 3
          .text
            %h4.heading 
              =I18n.t('model.content3')
      .col-sm-4.content-center
        %i.med-icon.icon-i-mental-health.big-icon
      .col-sm-4
        .feature-box.right
          %span.count 4
          .text
            %h4.heading 
              =I18n.t('model.content4')
        .feature-box.right
          %span.count 5
          .text
            %h4.heading 
              =I18n.t('model.content5')
        .feature-box.right
          %span.count 6
          .text
            %h4.heading 
              =I18n.t('model.content6')

