.row
  .col-sm-12
    .heading-block
      %h2.heading
        Nasz
        %span.color1 Model
  .col-sm-4
    .feature-box.left
      %span.count 1
      .text
        %h4.heading Import surowca na rynek UE dla wytwórców substancji czynnej
    .feature-box.left
      %span.count 2
      .text
        %h4.heading Wprowadzania produktów do obrotu na rynek UE
    .feature-box.left
      %span.count 3
      .text
        %h4.heading Działalność Badawczo – Rozwojowa
  .col-sm-4
    %img.img-responsive.mt-20{:alt => "", :src => "images/770-1000-normal.jpg"}/
  .col-sm-4
    .feature-box.right
      %span.count 4
      .text
        %h4.heading Doradztwo prawne dla Twojego biznesu w Unii Europejskiej
    .feature-box.right
      %span.count 5
      .text
        %h4.heading Dedykowana rozwiązania IT
    .feature-box.right
      %span.count 6
      .text
        %h4.heading Zastosowanie technologii blockchain

