.container.mt-80.about-new-top
  .row
    .col-sm-8.left_about.justify-style
      %p
        =I18n.t('new_about.p1')
      %p
        =I18n.t('new_about.p2')
    .col-sm-4
      .news-slider.style-1
        .slider-items.justify-style
          %div
            %h4.heading
            %hr.hr-2.left/
            %p 
              =I18n.t('new_about.p3')
          %div
            %h4.heading 
            %hr.hr-2.left/
            %p 
              =I18n.t('new_about.p4')
        .slider-nav
          .left
            %i.fa.fa-angle-left
          .right
            %i.fa.fa-angle-right
