/ Slider Revolution

.rev_slider_wrapper.fullwidthbanner-container{style: "height: 300px!important;"}
  #slider.rev_slider.fullwidthbanner{"data-plugin-options" => '{"gridwidth": 500, "gridheight": 500, "navigation": { "arrows": { "enable": false } }}'}
    %ul
      / Slide 1
      %li{"data-description" => "Cannahub.", "data-easein" => "default", "data-easeout" => "default", "data-fsmasterspeed" => "1500", "data-fsslotamount" => "7", "data-fstransition" => "fade", "data-index" => "rs-129", "data-masterspeed" => "default", "data-rotate" => "0", "data-saveperformance" => "off", "data-slotamount" => "default", "data-thumb" => "", "data-title" => "A STUDY ON HAPPINESS", "data-transition" => "parallaxvertical"}
        / MAIN IMAGE
        .col-sm-12.content-center{style: "margin-top: 50px"}
          =image_tag("cannahub.png", alt: "Cannahub", class: "img-responsive")
        .col-sm-12.content-center{style: "font-size: 18px; margin-top: 5px; font-weight: 800;"}
          PLATFORMA KOMUNIKACYJNA



























        -# =image_tag("dummy.jpg", alt: "doctor_recipe", data: { "bgfit" => "cover", "bgparallax" => "10", "bgposition" => "center center", "bgrepeat" => "no-repeat", "lazyload" => image_path("doctor_recipe.jpg"), "no-retina" => ""}, class: "rev-slidebg")
        -# / Small Text
        -# #layer-1-small-text.tp-caption.tp-resizeme.rs-parallaxlevel-0.color2{"data-color" => "['#060a02']", "data-fontsize" => "['24', '24', '22', '16']", "data-height" => "28", "data-hoffset" => "['50','50','50','30']", "data-mask_in" => "x:0px;y:0px;s:inherit;e:inherit;", "data-mask_out" => "x:0;y:0;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['-120','-120','-120','-120']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']", :style => "z-index: 10; white-space: nowrap; font-weight:400;"}
        -#   Canna HUB
        -# / Main Text
        -# #slide-1-main-text.tp-caption.tp-resizeme.rs-parallaxlevel-0{"data-color" => "['#fff']", "data-fontsize" => "['46','46','46','32']", "data-height" => "120", "data-hoffset" => "['50','50','50','30']", "data-lineheight" => "['55','55','55','35']", "data-mask_in" => "x:0px;y:0px;s:inherit;e:inherit;", "data-mask_out" => "x:0;y:0;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['-50','-50','-50','-50']", "data-whitespace" => "normal", "data-width" => "['600','600','600','420']", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']", :style => "z-index: 11; min-width: 600px; max-width: 600px; font-weight:400; white-space: normal; text-shadow:0px 2px 5px #000; text-transform:capitalize; text-align:left;"}
        -#   Witamy i Zapraszamy
        -# / Button
        -# %a#slide-1-button-1.tp-caption.btn.btn-primary.rs-parallaxlevel-0.hidden-xs.tp-resizeme{"data-height" => "none", "data-hoffset" => "['53','53','53','30']", "data-mask_in" => "x:0px;y:0px;", "data-mask_out" => "x:0;y:0;", "data-responsive" => "on", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['50','50','50','50']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']", :href => "http://cannahub.eu/static_pages_controller/about?locale=pl", :style => "z-index: 12;"}
        -#   Czytaj Więcej
        -# / Button
        -# %a#slide-1-button-2.tp-caption.btn.btn-black.rs-parallaxlevel-0.hidden-xs.tp-resizeme{"data-height" => "none", "data-hoffset" => "['210','210','210','210']", "data-mask_in" => "x:0px;y:0px;", "data-mask_out" => "x:0;y:0;", "data-responsive" => "on", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['50','50','50','50']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']", :href => "http://cannahub.eu/static_pages_controller/about?locale=pl", :style => "z-index: 12;"}
        -#   View Plans
      -# / Slide 2
      -# %li{"data-description" => "Nurturing the most awesome minds.", "data-easein" => "default", "data-easeout" => "default", "data-fsmasterspeed" => "1500", "data-fsslotamount" => "7", "data-fstransition" => "fade", "data-index" => "rs-2", "data-masterspeed" => "default", "data-rotate" => "0", "data-saveperformance" => "off", "data-slotamount" => "default", "data-thumb" => "", "data-title" => "A STUDY ON HAPPINESS", "data-transition" => "parallaxvertical"}
      -#   / MAIN IMAGE
      -#   =image_tag("dummy.jpg", alt: "doctor at farm", data: {"bgfit" => "cover", "bgparallax" => "10", "bgposition" => "center center", "bgrepeat" => "no-repeat", "lazyload" => image_path("doctor_at_farm_low.jpg"), "no-retina" => ""}, class: "rev-slidebg")
      -#   / Small Text
      -#   #layer-2-small-text.tp-caption.tp-resizeme.rs-parallaxlevel-0.color2{"data-color" => "['#060a02']", "data-fontsize" => "['24', '24', '22', '16']", "data-height" => "28", "data-hoffset" => "['50','50','50','50']", "data-mask_in" => "x:0px;y:0px;s:inherit;e:inherit;", "data-mask_out" => "x:0;y:0;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['-120','-120','-120','-120']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['right','right','right','right']", "data-y" => "['middle','middle','middle','middle']", :style => "z-index: 10; white-space: nowrap; font-weight:400; text-align:right"}
      -#     Affordable Advanced Treatments.
      -#   / Main Text
      -#   #slide-2-main-text.tp-caption.tp-resizeme.rs-parallaxlevel-0{"data-color" => "['#fff']", "data-fontsize" => "['46','46','46','32']", "data-height" => "120", "data-hoffset" => "['50','50','50','50']", "data-lineheight" => "['55','55','55','35']", "data-mask_in" => "x:0px;y:0px;s:inherit;e:inherit;", "data-mask_out" => "x:0;y:0;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['-50','-50','-50','-50']", "data-whitespace" => "normal", "data-width" => "['600','600','600','420']", "data-x" => "['right','right','right','right']", "data-y" => "['middle','middle','middle','middle']", :style => "z-index: 11; min-width: 600px; max-width: 600px; font-weight:400; white-space: normal; text-shadow:0px 2px 5px #000; text-transform:capitalize; text-align:right;"}
      -#     Bringing global technology at your doorstep.
      -#   / Button
      -#   %a#slide-2-button-1.tp-caption.btn.btn-primary.rs-parallaxlevel-0.hidden-xs{"data-height" => "none", "data-hoffset" => "['50','50','50','50']", "data-mask_in" => "x:0px;y:0px;", "data-mask_out" => "x:0;y:0;", "data-responsive" => "on", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['50','50','50','50']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['right','right','right','right']", "data-y" => "['middle','middle','middle','middle']", :href => "http://cannahub.eu/static_pages_controller/about?locale=pl", :style => "z-index: 12;"}
      -#     READ MORE
      -#   / Button
      -#   %a#slide-2-button-2.tp-caption.btn.btn-black.rs-parallaxlevel-0.hidden-xs{"data-height" => "none", "data-hoffset" => "['210','210','210','210']", "data-mask_in" => "x:0px;y:0px;", "data-mask_out" => "x:0;y:0;", "data-responsive" => "on", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['50','50','50','50']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['right','right','right','right']", "data-y" => "['middle','middle','middle','middle']", :href => "http://cannahub.eu/static_pages_controller/about?locale=pl", :style => "z-index: 12;"}
      -#     View Plans
      -# / Slide 3
      -# %li{"data-description" => "Slide 3 descrition", "data-easein" => "default", "data-easeout" => "default", "data-fsmasterspeed" => "1500", "data-fsslotamount" => "7", "data-fstransition" => "fade", "data-index" => "rs-129", "data-masterspeed" => "default", "data-rotate" => "0", "data-saveperformance" => "off", "data-slotamount" => "default", "data-thumb" => "", "data-title" => "A STUDY ON HAPPINESS", "data-transition" => "parallaxvertical"}
      -#   / MAIN IMAGE
      -#   =image_tag("dummy.jpg", alt: "bottle of oil", data: {"bgfit" => "cover", "bgparallax" => "10", "bgposition" => "center center", "bgrepeat" => "no-repeat", "lazyload" => image_path("bottle_of_oil_low.jpg"), "no-retina" => ""}, class: "rev-slidebg")
      -#   / Small Text
      -#   #layer-3-small-text.tp-caption.tp-resizeme.rs-parallaxlevel-0.color2{"data-color" => "['#1696e7']", "data-fontsize" => "['24', '24', '22', '16']", "data-height" => "28", "data-hoffset" => "['50','50','50','30']", "data-mask_in" => "x:0px;y:0px;s:inherit;e:inherit;", "data-mask_out" => "x:0;y:0;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['-120','-120','-120','-120']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']", :style => "z-index: 10; white-space: nowrap; font-weight:400;"}
      -#     LOREM IPSUM
      -#   / Main Text
      -#   #slide-3-main-text.tp-caption.tp-resizeme.rs-parallaxlevel-0{"data-color" => "['#fff']", "data-fontsize" => "['46','46','46','32']", "data-height" => "120", "data-hoffset" => "['50','50','50','30']", "data-lineheight" => "['55','55','55','35']", "data-mask_in" => "x:0px;y:0px;s:inherit;e:inherit;", "data-mask_out" => "x:0;y:0;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['-50','-50','-50','-50']", "data-whitespace" => "normal", "data-width" => "['600','600','600','420']", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']", :style => "z-index: 11; min-width: 600px; max-width: 600px; font-weight:400; white-space: normal; text-shadow:0px 2px 5px #000; text-transform:capitalize; text-align:left;"}
      -#     LOREM IPSUM
      -#   / Button
      -#   %a#slide-3-button-1.tp-caption.btn.btn-primary.rs-parallaxlevel-0.hidden-xs.tp-resizeme{"data-height" => "none", "data-hoffset" => "['53','53','53','30']", "data-mask_in" => "x:0px;y:0px;", "data-mask_out" => "x:0;y:0;", "data-responsive" => "on", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['50','50','50','50']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']", :href => "about.html", :style => "z-index: 12;"}
      -#     Czytaj Więcej
      -#   / Button
      -#   %a#slide-3-button-2.tp-caption.btn.btn-black.rs-parallaxlevel-0.hidden-xs.tp-resizeme{"data-height" => "none", "data-hoffset" => "['210','210','210','210']", "data-mask_in" => "x:0px;y:0px;", "data-mask_out" => "x:0;y:0;", "data-responsive" => "on", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "auto:auto;s:1000;e:Power3.easeInOut;", "data-voffset" => "['50','50','50','50']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['left','left','left','left']", "data-y" => "['middle','middle','middle','middle']", :href => "pricing-tables.html", :style => "z-index: 12;"}
      -#     View Plans
/ Revolution Slider Ends
