.mt-80
  .container
    %h2=I18n.t('soon.title')  
    .row
      .col-sm-9
        .health-tips-1
          %ul
            %li
              
              %h4.soon-icon
                =I18n.t('soon.content1')
            %li
              
              %h4.soon-icon 
                =I18n.t('soon.content2')
            %li
              
              %h4.soon-icon 
                =I18n.t('soon.content3')
            %li
              
              %h4.soon-icon 
                =I18n.t('soon.content4')
      