.health-tips.mt-80
  .container
    %h2.heading-text Nowe sekcje wkrótce
    .row
      .col-sm-6
        .health-tips-1
          %ul.tips
            %li
              %span.count #1
              %h4 Pacjenci
            %li
              %span.count #3
              %h4 Farmaceuci
            %li
              %span.count #5
              %h4 Blockchain
            %li
              %span.count #7
              %h4 Przedsiębiorcy
      .col-sm-6
        .health-tips-2
          %ul.tips
            %li
              %span.count #2
              %h4 Badania
            %li
              %span.count #4
              %h4 Lekarze
            %li
              %span.count #6
              %h4 Inwestorzy
            %li
              %span.count #8
              %h4 Dostawcy