.mt-80.pt-80.pb-80.parallax{"data-speed" => "8", :style => "background-image: url(#{image_url('weed6.jpg')}); background-position: 50% -96.875px;"}
  .container
    .row
      .col-sm-7.col-sm-offset-5.col-lg-5.col-lg-offset-7
        %p{style: "font-size: 24px; text-transform: uppercase;"} Terapia medyczną marihuaną jest dopuszczona w 14 krajach Unii Europejskiej.