.mt-80.pt-80.pb-80.parallax{"data-speed" => "8"}
  .container
    .row
      .col-sm-7.col-sm-offset-5.col-lg-5.col-lg-offset-7
        %p{style: "font-size: 24px; text-transform: uppercase; margin-top: 50px;font-weight: 900; line-height: 40px; text-shadow: 1px 1px 2px #b0a0a0;"} 
          =I18n.t('terapy.title')