.mt-80.pt-80.pb-80.parallax{"data-speed" => "8", :style => "background-image: url('weed6.jpg'); background-position: 50% -96.875px;"}
  .container
    .row
      .col-sm-7.col-sm-offset-5.col-lg-5.col-lg-offset-7
        %h3 World Class Equipments
        %hr.hr-1.ml-0/
        %p
          Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur.
        %ul.list-styled
          %li One day however a small line of blind text by the name of Lorem Ipsum.
          %li A small river named Duden flows by their place and supplies it with the necessary regelialia
          %li One day however a small line of blind text by the name of Lorem Ipsum.
        %br/
        %a.btn.btn-primary{:href => ""} Learn More
