.container.mt-80
  .row
    .col-sm-12.content-center
      =image_tag("cannahub.png", alt: "Cannahub", class: "img-responsive")
    .col-sm-12.content-center{style: "font-size: 18px; margin-top: 5px; font-weight: 800;"}
      PLATFORMA KOMUNIKACYJNA
