.mt-80
  .container
    %h2=I18n.t('job.title')  
    .row
      .col-sm-9
        .health-tips-1
          %ul
            %li
              
              %h4.job-icon
                =I18n.t('job.content1')
            %li
              
              %h4.job-icon 
                =I18n.t('job.content2')
            %li
              
              %h4.soon-icon 
                =I18n.t('job.content3')
            %li
              
              %h4.soon-icon 
                =I18n.t('job.content4')
            %li
              
              %h4.soon-icon 
                =I18n.t('job.content5')