mt-80
  .container
    %h2=I18n.t('requirements.title')  
    .row
      .col-sm-9
        .health-tips-1
          %ul
            %li

              %h4.requirements-icon
                =I18n.t('requirements.content1')
            %li

              %h4.requirements-icon 
                =I18n.t('requirements.content2')
            %li

              %h4.requirements-icon 
                =I18n.t('requirements.content3')
            %li

              %h4.requirements-icon 
                =I18n.t('requirements.content4')
      